<%# ページごとにmetaタグを設定 %>
<% set_meta_tags title: "#{@prefecture.name}の議会情報" %>

<%= render "shared/header" %>

<%# パンくずリスト %>
<% breadcrumb :prefecture, @prefecture %>
<%= render 'shared/breadcrumbs' %>

<div class='main'>
  <h1><%= @prefecture.name %>のデータ</h1>
  <% if @councils %>
    <ul class='council-list'>
      <% @councils.each_with_index do |council, i| %>
        <li class='council-content'>
          <%= link_to "#{i + 1}.#{council.name}", prefecture_council_assemblymen_path(council_id: council.id) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class='coming-soon'>
      <h1>Comming Soon!!</h1>
      <p>更新までお待ちください。</p>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>