<%= render "shared/header" %>
<div class='main'>
  <% if @council.name.include?('知事・市長') %>
    <h1 class='prefecture-name'><%= @council.prefecture.name %>の知事・市長等一覧</h1>
  <% else %>
    <h1 class='prefecture-name'><%= @council.name %>議員一覧</h1>
    <p class='updated-info'>
      <%= l @assemblyman.updated_at, format: :default %>現在の議員数は <%= @assemblymen.count %> 人です
    </p>
  <% end %>
  <% if @assemblyman %>
    <div class='assemblymen-list'>
      <% @assemblymen.each do |assemblyman| %>
        <div class='assemblyman-content'>
          <% if assemblyman.img_url %>
            <%= image_tag assemblyman.img_url, class: 'assemblyman-img' %>
          <% else %>
            <%= image_tag 'assembly-img-dammy.png', class: 'assemblyman-img' %>
          <% end %>
          <div class='profile-content'>
            <% if assemblyman.twitter_url %>
              <%= link_to image_tag('Twitter_social_icons-circle-blue.png', class: 'twitter-icon-sm'), "https://twitter.com/#{assemblyman.twitter_url}", target: :_blank, rel: "noopener noreferrer"%>
            <% end %>
            <div class='council-name'>
              <%= assemblyman.name %>
            </div>
            <div class='profile-faction'>
              <%= assemblyman.faction %>
            </div>
            <div>
              <%= link_to '詳しく見る', "/prefectures/#{params[:prefecture_id]}/councils/#{params[:id]}/assemblymen/#{assemblyman.id}", class: 'blue-link-btn' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class='coming-soon'>
      <h2>Comming Soon!!</h2>
      <p>更新までお待ちください。</p>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>
