<%= render "shared/header" %>
<div class='main'>
  <% if @council.name.include?('知事・市長') %>
    <h1 class='prefecture-name'><%= @council.prefecture.name %>の知事・市長等のデータ</h1>
  <% else %>
    <h1 class='prefecture-name'><%= @council.name %>のデータ</h1>
    <%= link_to '議員検索はこちら', "/prefectures/#{params[:prefecture_id]}/councils/#{params[:id]}/search", class: 'search-btn' %>
  <% end %>
  <div class='chart-area'>
    <div class='chart-content'>
      <p>男女比</p>
      <%= pie_chart @assemblymen.group(:sex).count, height: '90%', legend: 'bottom', donut: true, suffix: '人' %>
    </div>
    <div class='chart-content'>
      <p>所属会派</p>
      <%= pie_chart @assemblymen .group(:faction).count, height: '100%', legend: 'bottom', donut: true, suffix: '人' %>
    </div>
  </div>
  <% if @assemblymen %>
    <div class='assemblymen-list'>
      <% @assemblymen.each do |assemblyman| %>
        <div class='assemblyman-content'>
          <% if assemblyman.img_url %>
            <%= image_tag assemblyman.img_url, class: 'assemblyman-img' %>
          <% else %>
            <%= image_tag 'assemblyman-alt-img.png', class: 'assemblyman-img' %>
          <% end %>
          <div class='profile-content'>
            <div class='council-name'>
              <%= assemblyman.name %>
            </div>
            <div class='profile-faction'>
              <% if @council.name.include?('知事・市長') %>             
                <%= assemblyman.position %>
              <% else %>
                <%= assemblyman.faction %>
              <% end %>
            </div>
            <div>
              <%= link_to '詳しく見る', "/prefectures/#{params[:prefecture_id]}/councils/#{params[:id]}/assemblymen/#{assemblyman.id}", class: 'blue-link-btn' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class='coming-soon'>
      <h2>Comming Soon!!</h2>
      <p>更新までお待ちください。</p>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>
