<div class='assemblymen-list'>
  <% model.each do |assemblyman| %>
    <% if model == @assemblymen %>
      <a href=<%= "assemblymen/#{assemblyman.id}" %>>
    <% else %>
      <a href=<%= "#{assemblyman.id}" %>>
    <% end %>
      <div class='assemblyman-content'>
        <div class='img-background'>
          <% if assemblyman.img_url && assemblyman.img_url.present?  %>
            <%= image_tag assemblyman.img_url, class: 'assemblyman-img' %>
            <%# 画像リンク元を表示 %>
            <% if assemblyman.position && assemblyman.position.include?('知事') %>
              <p class='reference'>© <%= assemblyman.position.delete('知事') %></p>
            <% elsif assemblyman.position && assemblyman.position.include?('長') %>
              <p class='reference'>© <%= assemblyman.position.delete('長') %></p>
            <% else %>
              <p class='reference'>© <%= assemblyman.council.name %></p>
            <% end %>
          <% else %>
            <%= image_tag 'assemblyman-alt-img.png', class: 'assemblyman-img' %>
          <% end %>
        </div>
        <div class='profile-content'>
          <div class='council-name'>
            <%= assemblyman.name %>
          </div>
          <% if assemblyman.position %>
            <div class='profile-faction'>
              <%= assemblyman.position %>
            </div>
          <% end %>
          <% if assemblyman.faction %>             
            <div class='profile-faction'>
              <%= assemblyman.faction %>
            </div>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
</div>