<footer>
  <ul class='footer-contents'>
    <li><%= link_to '利用ガイド', "#", class: "footer-link" %></li>
    <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
    <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
    <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
  </ul>
  <p><%= link_to (image_tag 'Twitter_social_icons-rounded_square-blue', class:'twitter-icon'), '#' %></p>
  <p>© 地方議会ナビ</p>
</footer>