<header class='top-page-header'>
  <div class='top-container'>
    <%= link_to image_tag("logo-color.png", class:"logo-icon"), "/" %>
    <p class='header-description'>
        地方選や地方議員の情報を掲載！
    </p>
    <%= link_to '新規登録', '#', class:'login-btn' %>
    <%= link_to 'ログイン', '#', class:'login-btn' %>
  </div>

  <%# 地域選択タブ %>
  <div class="region-tab">
    <ul>
      <li class="hokkaido-tohoku" id='hokkaido-tohoku'>北海道・東北</li>
      <li class="kanto" id='kanto'>関東</li>
      <li class="chubu" id='chubu'>中部</li>
      <li class="kinki" id='kinki'>近畿</li>
      <li class="chugoku-shikoku" id=chugoku-shikoku>中国・四国</li>
      <li class="kyushu-okinawa" id='kyushu-okinawa'>九州・沖縄</li>
    </ul>
  </div>
  <%# 地域選択タブ %>

  <%# 都道府県リスト %>
  <section id='content', class='hidden'>
    <div class='prefecture-list' id='hokkaido-tohoku-list'>
      <%= link_to '北海道', '#', class: 'prefecture-link' %>
      <%= link_to '青森県', '#', class: 'prefecture-link' %>
      <%= link_to '岩手県', '#', class: 'prefecture-link' %>
      <%= link_to '秋田県', '#', class: 'prefecture-link' %>
      <%= link_to '宮城県', '#', class: 'prefecture-link' %>
      <%= link_to '山形県', '#', class: 'prefecture-link' %>
      <%= link_to '福島県', '#', class: 'prefecture-link' %>
      <button id='hokkaido-tohoku-close'>閉じる</button>
    </div>

    <div class='prefecture-list' id='kanto-list'>
      <%= link_to '茨城県', '#', class: 'prefecture-link' %>
      <%= link_to '栃木県', '#', class: 'prefecture-link' %>
      <%= link_to '群馬県', '#', class: 'prefecture-link' %>
      <%= link_to '埼玉県', '#', class: 'prefecture-link' %>
      <%= link_to '千葉県', '#', class: 'prefecture-link' %>
      <%= link_to '東京都', '#', class: 'prefecture-link' %>
      <%= link_to '神奈川県', '#', class: 'prefecture-link' %>
      <%= link_to '山梨県', '#', class: 'prefecture-link' %>
      <button id='kanto-close'>閉じる</button>
    </div>

    <div class='prefecture-list' id='chubu-list'>
      <%= link_to '長野県', '#', class: 'prefecture-link' %>
      <%= link_to '新潟県', '#', class: 'prefecture-link' %>
      <%= link_to '富山県', '#', class: 'prefecture-link' %>
      <%= link_to '石川県', '#', class: 'prefecture-link' %>
      <%= link_to '福井県', '#', class: 'prefecture-link' %>
      <%= link_to '岐阜県', '#', class: 'prefecture-link' %>
      <%= link_to '静岡県', '#', class: 'prefecture-link' %>
      <%= link_to '愛知県', '#', class: 'prefecture-link' %>
      <%= link_to '三重県', '#', class: 'prefecture-link' %>
      <button id='chubu-close'>閉じる</button>
    </div>

    <div class='prefecture-list' id='kinki-list'>
      <%= link_to '滋賀県', '#', class: 'prefecture-link' %>
      <%= link_to '京都府', '#', class: 'prefecture-link' %>
      <%= link_to '大阪府', '#', class: 'prefecture-link' %>
      <%= link_to '兵庫県', '#', class: 'prefecture-link' %>
      <%= link_to '奈良県', '#', class: 'prefecture-link' %>
      <%= link_to '和歌山県', '#', class: 'prefecture-link' %>
      <button id='kinki-close'>閉じる</button>
    </div>

    <div class='prefecture-list' id='chugoku-shikoku-list'>
      <%= link_to '鳥取県', '#', class: 'prefecture-link' %>
      <%= link_to '島根県', '#', class: 'prefecture-link' %>
      <%= link_to '岡山県', '#', class: 'prefecture-link' %>
      <%= link_to '広島県', '#', class: 'prefecture-link' %>
      <%= link_to '山口県', '#', class: 'prefecture-link' %>
      <button id='chugoku-shikoku-close'>閉じる</button>
    </div>

    <div class='prefecture-list' id='kyushu-okinawa-list'>
      <%= link_to '福岡県', '#', class: 'prefecture-link' %>
      <%= link_to '佐賀県', '#', class: 'prefecture-link' %>
      <%= link_to '長崎県', '#', class: 'prefecture-link' %>
      <%= link_to '熊本県', '#', class: 'prefecture-link' %>
      <%= link_to '大分県', '#', class: 'prefecture-link' %>
      <%= link_to '宮崎県', '#', class: 'prefecture-link' %>
      <%= link_to '鹿児島県', '#', class: 'prefecture-link' %>
      <%= link_to '沖縄県', '#', class: 'prefecture-link' %>
      <button id='kyushu-okinawa-close'>閉じる</button>
    </div>

  </section>
  <%# 都道府県リスト %>

</header>