<header class='top-page-header'>
  <div class='top-container'>
    <a href='/' class='logo-area'>
      <%= image_tag "logo.png", class:"logo-icon" %>
      <div class='logo-text'>Local Elections</div>
    </a>
    <div class='user-session'>
      <div class='manifest-session'>
        <span class='material-icons'>edit_note</span>
        <%= link_to '投稿する', new_manifest_path, class:'post-link' %>
      </div>
      <% if user_signed_in? %>
        <p class='registration-link'><%= current_user.nickname %></p>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'login-link' %>
      <% else %>
        <%= link_to '新規登録', new_user_registration_path, class:'registration-link' %>
        <%= link_to 'ログイン', new_user_session_path, class:'login-link' %>
      <% end %>
    </div>
    <%# ハンバーガーメニュー %>
    <aside class='hamburger-menu' id='hamburger-menu'>
      <span class='material-icons' id='open-menu'>menu</span>
      <nav>
        <ul class=hidden-menu-list id='hidden-menu-list'>
          <% if user_signed_in? %>
            <li>
              <%= link_to '投稿する', new_manifest_path, class:'hidden-registration-link' %>
            </li>
            <li>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'hidden-login-link' %>
            </li>
          <% else %>
            <li>
              <%= link_to '新規登録', new_user_registration_path, class:'hidden-registration-link' %>
            </li>
            <li>
              <%= link_to 'ログイン', new_user_session_path, class:'hidden-login-link' %>
            </li>
          <% end %>
          <li>
            <span class='material-icons' id='close-menu'>close</span>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
  <%# ハンバーガ−メニュー %>

  <%# 地域選択タブ %>
  <ul class='region-tab'>
    <li class="hokkaido-tohoku" id='hokkaido-tohoku'>北海道・東北</li>
    <li class="kanto" id='kanto'>関東</li>
    <li class="chubu" id='chubu'>中部</li>
    <li class="kinki" id='kinki'>近畿</li>
    <li class="chugoku-shikoku" id=chugoku-shikoku>中国・四国</li>
    <li class="kyushu-okinawa" id='kyushu-okinawa'>九州・沖縄</li>
  </ul>
  <%# 地域選択タブ %>

  <%# 都道府県リスト %>
  <% unless @prefectures == nil %>
    <section id='content', class='hidden'>
      <ul class='prefecture-list' id='hokkaido-tohoku-list'>
        <% @prefectures[0..6].each do |prefecture| %>
          <li>
            <%= link_to prefecture.name, prefecture_councils_path(prefecture.id), class: 'prefecture-link' %>
          </li>
        <% end %>
        <li class='close-btn'>
            <span class='material-icons' id='close-menu'>close</span>
        </li>
      </ul>
      <ul class='prefecture-list' id='kanto-list'>
        <% @prefectures[7..13].each do |prefecture| %>
          <li>
            <%= link_to prefecture.name, prefecture_councils_path(prefecture.id), class: 'prefecture-link' %>
          </li>
        <% end %>
        <li class='close-btn'>
            <span class='material-icons' id='close-menu'>close</span>
        </li>
      </ul>
      <ul class='prefecture-list' id='chubu-list'>
        <% @prefectures[14..22].each do |prefecture| %>
          <li>
            <%= link_to prefecture.name, prefecture_councils_path(prefecture.id), class: 'prefecture-link' %>
          </li>
        <% end %>
        <li class='close-btn'>
            <span class='material-icons' id='close-menu'>close</span>
        </li>
      </ul>
      <ul class='prefecture-list' id='kinki-list'>
        <% @prefectures[23..29].each do |prefecture| %>
          <li>
            <%= link_to prefecture.name, prefecture_councils_path(prefecture.id), class: 'prefecture-link' %>
          </li>
        <% end %>
        <li class='close-btn'>
            <span class='material-icons' id='close-menu'>close</span>
        </li>
      </ul>
      <ul class='prefecture-list' id='chugoku-shikoku-list'>
        <% @prefectures[30..38].each do |prefecture| %>
          <li>
            <%= link_to prefecture.name, prefecture_councils_path(prefecture.id), class: 'prefecture-link' %>
          </li>
        <% end %>
        <li class='close-btn'>
            <span class='material-icons' id='close-menu'>close</span>
        </li>
      </ul>
      <ul class='prefecture-list' id='kyushu-okinawa-list'>
        <% @prefectures[39..46].each do |prefecture| %>
          <li>
            <%= link_to prefecture.name, prefecture_councils_path(prefecture.id), class: 'prefecture-link' %>
          </li>
        <% end %>
        <li class='close-btn'>
            <span class='material-icons' id='close-menu'>close</span>
        </li>
      </ul>
    </section>
  <% end %>
  <%# 都道府県リスト %>
</header>