<%= render "shared/second-header" %>
<% breadcrumb :council, @council %>
<%= render 'shared/breadcrumbs' %>
<div class='main'>
  <%= link_to '議員検索', "/prefectures/#{params[:prefecture_id]}/councils/#{params[:council_id]}/assemblymen/search", class: 'search-btn' %>
  <h1 class='prefecture-name'><%= @council.name %>のデータ</h1>
  <div class='chart-area'>
    <div class='chart-content'>
      <p>男女比</p>
      <%= pie_chart @assemblymen.group(:sex).count, height: '150px', legend: 'bottom', donut: true, suffix: '人' %>
    </div>
    <div class='chart-content'>
      <p>所属党派・会派</p>
      <%= pie_chart @assemblymen .group(:faction).count, height: '150px', legend: 'bottom', donut: true, suffix: '人' %>
    </div>
  </div>
  <p class='reference'>※グラフは<%= @council.name %>ホームページの情報を基に作成しています。</p>
  <% if @assemblymen %>
    <%= render 'shared/assemblyman-list', model: @assemblymen %>
  <% else %>
    <div class='coming-soon'>
      <h2>Comming Soon!!</h2>
      <p>更新までお待ちください。</p>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>
