<%# ページごとにmetaタグを設定 %>
<% set_meta_tags title: "#{@council.name}の議員情報" %>

<%= render "shared/header" %>
<%# パンくずリスト %>
<% breadcrumb :council, @council %>
<%= render 'shared/breadcrumbs' %>

<div class='main'>
  <div class='search-btn' id='search-btn'>絞り込み検索</div>
  <%# 検索フォーム %>
  <%= form_with model: @search_target, url: searches_path, method: :get, class: 'search-form search-hidden', id: 'search-form', local: true do |f| %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">所属政党・会派</label>
        <span class="indispensable">任意</span>
      </div>
      <%= f.select(:faction, @factions.uniq, {:prompt => "特になし"}, class: 'select_field') %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">性別</label>
        <span class="indispensable">任意</span>
      </div>
      <%= f.select(:sex, ['男性', '女性'], {:prompt => "特になし"}, class: 'select_field') %>
    </div>
    <%= f.hidden_field :prefecture_id, value: params[:prefecture_id] %>
    <%= f.hidden_field :council_id, value: params[:council_id] %>
    <%= f.submit '検索', class: 'search-btn' %>
    <div class='close-btn' id='close-btn'><span class='material-icons' id='close-menu'>close</span></div>
  <% end %>
  <h1 class='prefecture-name'><%= @council.name %>のデータ</h1>
  <div class='chart-area'>
    <div class='chart-content'>
      <p>男女比</p>
      <%= pie_chart @assemblymen.group(:sex).count, height: '150px', legend: 'bottom', donut: true, suffix: '人' %>
    </div>
    <div class='chart-content'>
      <p>所属党派・会派</p>
      <%= pie_chart @assemblymen .group(:faction).count, height: '150px', legend: 'bottom', donut: true, suffix: '人' %>
    </div>
  </div>
  <%# 参照元の表示 %>
  <p class='reference'>
    <% if @council.name.match('知事・市長') %>
      ※グラフは各自治体ホームページの情報を基に作成。
    <% else %>
      ※グラフは<%= @council.name %>ホームページの情報を基に作成。
    <% end %>
  </p>
  <%# 議員一覧 %>
  <% if @assemblymen %>
    <%= render 'shared/assemblyman-list', model: @assemblymen %>
  <% else %>
    <div class='coming-soon'>
      <h2>Comming Soon!!</h2>
      <p>更新までお待ちください。</p>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>
