<%= render 'shared/second-header' %>

<%# パンくずリスト %>
<% breadcrumb :search %>
<%= render 'shared/breadcrumbs' %>

<div class='main'>
  <h1>検索フォーム</h1>
  <%= form_with(model: @target_assemblyman, url: search_result_prefecture_council_assemblymen_path, method: :post, class: 'registration-main', local: true) do |f| %>
    <div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">所属政党・会派を選択してください</label>
          <span class="indispensable">任意</span>
        </div>
        <%= f.select(:faction, @factions.uniq, {:prompt => "特になし"}, class: 'select_field') %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">性別を選択してください</label>
          <span class="indispensable">任意</span>
        </div>
        <%= f.select(:sex, ['男性', '女性'], {:prompt => "特になし"}, class: 'select_field') %>
      </div>
      <%= f.submit '検索', class: 'register-blue-btn' %>
    </div>  
  <% end %>
</div>
<%= render 'shared/footer' %>