<%= render "shared/header" %>
<div class='main'>
  <div class='assemblyman-show-profile'>
    <div class='background'>
      <% if @assemblyman.img_url %>
        <%= image_tag @assemblyman.img_url, class: 'assemblyman-show-img' %>
      <% else %>
        <%= image_tag 'assembly-img-dammy.png', class: 'assemblyman-img' %>
      <% end %>
    </div>
    <div class='profile-content'>
      <p class='assemblyman-name'><%= @assemblyman.name %></p>
      <div class='profile-wrap'>
        <p class='profile-heading'>生年月日</p>
        <p class="profile-text"><%= l @assemblyman.birth_of_date %></p>
      </div>
      <div class='profile-wrap'>
        <p class='profile-heading'>会派</p>
        <p class="profile-text"><%= @assemblyman.faction %></p>
      </div>
      <div class='profile-wrap'>
        <p class='profile-heading'>当選回数</p>
        <p class="profile-text"><%= @assemblyman.number_of_wins %> 回</p>
      </div>
      <div class='profile-wrap'>
        <p class='profile-heading'>職業</p>
        <p class="profile-text"><%= @assemblyman.job %></p>
      </div>
    </div>
  </div>
  <%= link_to '議員一覧へ戻る',  "/prefectures/#{params[:prefecture_id]}/councils/#{params[:council_id]}", class: 'back-to-assemblymen-list'%>

  <%# コメント投稿フォームへのリンク %>
  <div class='comment-link'>
    <%= image_tag 'pen.png', class:'pen-img' %>
    <%= link_to 'コメントを書く', new_prefecture_council_assemblyman_comment_path(assemblyman_id: params[:id]), class: 'comment-link-text' %>
  </div>

  <%# コメントを一覧表示 %>
  <ul class="comments-lists">
    <% if @comments.find_by(assemblyman_id: params[:id]) %>
      <% @comments.each do |comment| %> 
        <li class="comments-list">
          <div class='comment-user'>
            <%= comment.user.nickname %>
          </div>
          <span class='comment-text'><%= comment.comment %></span>
        </li>
      <% end %>
    <% else  %>
      <div class='notes'>コメントはまだありません。</div>
    <% end %>
  </ul>
</div>
<%= render 'shared/footer' %>