<%= render "shared/second-header" %>

<%# パンくずリスト %>
<% breadcrumb :manifest, @manifest %>
<%= render 'shared/breadcrumbs' %>

<%# 投稿表示用の部分テンプレートを呼び出し %>
<%= render 'shared/show-post', model: @manifest, controller: 'manifests' %>

<%# コメントエリア %>
<div class="comment-area">
  <%# コメントを一覧表示 %>
  <% if @comments %>
    <ul class='comment-list'>
      <% @comments.each do |comment| %> 
        <li class="comment-content">
          <div class='comment-top'>
            <span class='comment-user'><%= comment.user.nickname %></span>
            <%= l comment.created_at, format: :long %>
            <% if comment.user == current_user %>
              <%= link_to '削除', manifest_manifest_comment_path(id: comment.id, manifest_id: params[:id]), method: :delete, class: 'delete-comment',data: { confirm: '本当に削除しますか?' } %>
            <% end %>
          </div>
          <span class='comment-text'><%= comment.content %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to 'コメントを書く', new_manifest_manifest_comment_path(params[:id]), class: 'comment-link-btn' %>
</div>

<%= render 'shared/footer' %>