<%= render 'shared/second-header' %>
<div class='main'>
  <h1 class='prefecture-name'><%= @tag.name %>に関連するマニュフェスト
</h1>
  <% @manifests.each do |manifest| %>
    <ul class='manifest-list'>
      <li class='manifest-content'>
        <a href=<%= "/manifests/#{manifest.id}" %>>
          <p><%= manifest.user.nickname %>が更新</p>
          <h2 class='council-name'><%= manifest.title %></h2>
        </a>
      </li>
    </ul>
  <% end %>
</div>
<%= render 'shared/footer' %>