<%= render "shared/header" %>

<div class='app-introduction'>
  <h1 class='catch-copy'>あなたの声を地域のリーダーへ―</h1>
  <p class>
     Local Electionsは地方議員の情報や活動を共有するためのサービスです。"どんな議員がいるの？"、"誰に投票しよう？"、"移住したばかりで、議員がわからない" など、悩みや疑問を選挙前に解消しましょう！
  <p>
</div>
<div class='main'>
  <div class='update-lists'>
    <ul class='update-title'>
      <li class='update-active' id='new'>新着マニュフェスト</li>
      <li id='info'>お知らせ</li>
      <li id='election'>選挙情報</li>
    </ul>
    <ul class='update-content' id='new-content'>
      <% if @manifests.any? %>
        <% @manifests.each do |manifest| %>
          <li class='manifest-content'>
            <a href="/manifests/<%= manifest.id %>" class='manifest-link'>
              <span class='posted-user'>
                <%= l manifest.created_at %>
              </span>
              <span class='posted-user'>
                <%= manifest.user.nickname %>
              </span>
              <span>
                <%= "「#{manifest.title}」" %>
              </span>
              <% manifest.tags.each do |tag| %>
                <%= link_to tag.name, tag_path(tag.id), class: 'tag-link' %>
              <% end %>
            </a>
          </li>
        <% end %>
      <% else %>
        <li>
          <%= link_to '投稿する', new_manifest_path, class:'update-text' %>
        </li>
      <% end %>
    </ul>
    <ul class='update-content' id='info-content'>
      <li>
        <span class='update-date'>2021-3-16</span>
        <%= link_to '富山県の知事・市長等', '/prefectures/16/councils/1', class:'update-text' %>
      </li>
      <li>
        <span class='update-date'>2021-3-14</span>
        <%= link_to '富山市議会議員', '/prefectures/16/councils/3', class:'update-text' %>
      </li>
      <li>
        <span class='update-date'>2021-2-21</span>
        <%= link_to '富山県議会議員', '/prefectures/16/councils/2', class:'update-text' %>
      </li>
    </ul>
    <ul class='update-content' id='election-content'>
      <li>
        <%= link_to '更新までしばらくお待ちください', '#', class:'update-link' %>
      </li>
    </ul>
  </div>
</div>
<%= render 'shared/footer' %>