<%= render "shared/header" %>

<%# アプリの紹介部分 %>
<%= image_tag 'top-background-img.jpeg', class: 'top-background-img' %>
<div class='app-introduction'>
  <h1 class='fadein catch-copy'>あなたの声を地域のリーダーへ―</h1>
  <p class='fadein app-description'>
     Local Electionsは地方議会に関する悩みを解決するサービスです。<br />
     議員情報を参照したり、あなただけのマニュフェストを投稿しましょう！
  <p>
</div>

<%# 新着リスト %>
<div class='top-main'>
  <div class='update-lists'>
    <ul class='update-title'>
      <li class='update-active' id='new'>新着マニュフェスト</li>
      <li id='info'>お知らせ</li>
      <li id='election'>選挙情報</li>
    </ul>
    <ul class='update-content' id='new-content'>
      <% if @manifests.any? %>
        <% @manifests.each do |manifest| %>
          <li class='manifest-content'>
            <a href="/manifests/<%= manifest.id %>" class='show-manifest-link' id='manifest-link'>
              <span class='update-date'>
                <%= l manifest.updated_at %>
              </span>
              <span class='posted-user'>
                <%= manifest.user.nickname %>
              </span>
              <span>
                <%= "「#{manifest.title}」" %>
              </span>
              <% manifest.tags.each do |tag| %>
                <%= link_to tag.name, tag_path(tag.id), class: 'tag-link' %>
              <% end %>
            </a>
          </li>
        <% end %>
      <% else %>
        <li class='manifest-content'>
          <a href='/manifests/new' class='show-manifest-link'>
            新規投稿する
          </a>
        </li>
      <% end %>
    </ul>
    <ul class='update-content' id='info-content'>
      <li class='manifest-content'>
        <a href='/prefectures/16/councils' class='show-manifest-link'>
          <span class='update-date'>2021年04月02日</span>
          <span class='update-text'>富山県の情報を更新しました</span>
        </a>
      </li>
      <li class='manifest-content'>
        <a href='/prefectures/16/councils/3/assemblymen' class='show-manifest-link'>
          <span class='update-date'>2021年03月14日</span>
          <span class='update-text'>富山市議会議員の情報を更新しました</span>
        </a>
      </li>
      <li class='manifest-content'>
        <a href='/prefectures/16/councils/2/assemblymen' class='show-manifest-link'>
          <span class='update-date'>2021年03月14日</span>
          <span class='update-text'>富山県議会議員の情報を更新しました</span>
        </a>
      </li>
    </ul>
    <ul class='update-content' id='election-content'>
      <li class='manifest-content'>
        <a href='#' class='show-manifest-link'>
          <span class='update-text'>更新までしばらくお待ちください</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<%= render 'shared/footer' %>