<%= render "shared/header" %>

<div class='main'>
  <h1 class='info'>最新情報</h1>
  <div class='nav'>
    <div class='update'>
      <h2>サイト更新</h2>
      <div class='update-content'>
        <p class='update-date'>2021-3-1
        </p>
        <%= link_to '〇〇県の議員情報を更新しました', '#' %>
        <p class='update-date'>2021-2-1
        </p>
        <%= link_to '〇〇県の議員情報を更新しました', '#' %>
        <p class='update-date'>2021-1-1
        </p>
        <%= link_to '〇〇県の議員情報を更新しました', '#' %>
        <p class='update-date'>2021-1-1
        </p>
        <%= link_to '〇〇県の議員情報を更新しました', '#' %>
        <p class='update-date'>2021-1-1
        </p>
        <%= link_to '〇〇県の議員情報を更新しました', '#' %>
      </div>
    </div>

    <div class='result'>
      <h2>選挙結果</h2>
      <div class='result-content'>
          <p class='update-date'>2021-3-1
        </p>
        <%= link_to '〇〇県議会議員選挙結果', '#' %>
        <p class='update-date'>2021-2-1
        </p>
        <%= link_to '〇〇市議会議員選挙結果', '#' %>
        <p class='update-date'>2021-1-1
        </p>
        <%= link_to '〇〇県知事選挙結果', '#' %>
        <p class='update-date'>2021-1-1
        </p>
        <%= link_to '〇〇県知事選挙結果', '#' %>
      </div>    
    </div>

    <div class='election-schedule'>
      <h2>これからの選挙日程</h2>
      <div class='schedule-content'>
        <p class='update-date'>2021-3-1
        </p>
        <%= link_to '〇〇県議会議員選挙（3/15投開票）', '#' %>
        <p class='update-date'>2021-2-15
        </p>
        <%= link_to '〇〇県知事選挙（2/31投開票）', '#' %>
      </div>   
    </div>
  </div>

</div>
<%= render 'shared/footer' %>