<%= render "shared/header" %>
<div class='main'>
  <h1 class='prefecture-name'><%= @prefecture.name %>の議会一覧</h1>
  <div class='council-list'>
    <% @councils.each do |council| %>
    <div class='council-content'>
    <div class='council-name'><%= council.name %></div>
      <%= link_to '議員一覧へ',  "/prefectures/:prefecture_id/councils/#{council.id}/assemblymen", class: 'show-assembly'%>
    </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>