<%= render "shared/header" %>
<div class='main'>
  <h1 class='prefecture-name'><%= @prefecture.name %>の議会一覧</h1>
  <div class='council-list'>
    <% if Council.find_by(prefecture_id: params[:id]) %>
      <% @councils.each do |council| %>
        <div class='council-content'>
          <div class='council-name'><%= council.name %></div>
          <%= link_to '議員一覧へ', "#{params[:id]}/councils/#{council.id}", class: 'show-assembly'%>
        </div>
      <% end %>
    <% else %>
      <div class='coming-soon'>
        <h2>Comming Soon!!</h2>
        <p>更新までお待ちください。</p>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>